/* ************************************ */
/* Backbar */

a {
    text-align: left;
    text-decoration: none;
    color: #e4dccf;
}

.backBar {
    padding-left: 15px;
    background-color: #003366;
    height: 50px;
}

h1 {
    margin-top: 20px;
}

svg {
    float: left;
    margin-top: 10px;
    font-size: 30px;
}
th, td{
    vertical-align : top;
    text-align: center;
}
td {
    padding-right: 20px; 
}

input {
    float: right;
    margin-right: 5px;
}

input.inputN {
    display: inline-block;
    float: none;
}

/* ************************************ */
/* button */

.bookingButton {
    background-color: #003366;
    height: 20px;
    padding: 10px;
}
.bookingButton p {
    text-align: center;
}